{% extends "base.html" %}
{% block title %}Book List{% endblock %}
{% block content %}
<h2>Available Books</h2>
<div class="book-list">
    {% for book in books %}
        <div class="book-item">
            <h3>{{ book.title }}</h3>
            <p>by {{ book.author }}</p>
            <p>Genre: {{ book.genre }}</p>
            <p>Price: ${{ book.price }}</p>
            <a href="{% url 'book_detail' book.id %}">View Details</a> |
            <a href="{% url 'add_to_cart' book.id %}">Add to Cart</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
